In [51]:
import pandas as pd
import numpy as np
import networkx as nx
import igraph as ig
import nxviz as nv
import matplotlib.pyplot as plt
from nxviz import MatrixPlot, ArcPlot, CircosPlot
%matplotlib inline

In [8]:
df_path = '/home/mar/Documents/TFM/GitHub/HB_PublicData/2-HB-DEGs-on-Liver-Communities/1_LiverNetworks/liver_PPI.txt'
df = pd.read_csv(df_path, sep='\t',names=['node1','node2'])

In [9]:
G=nx.from_pandas_edgelist(df, "node1", "node2")

In [53]:
pr = nx.pagerank(G, alpha=0.75)

In [50]:
import scipy
import scipy.sparse
mat = laplacian_matrix(G, nodelist=None, walk_type='random', alpha=0.75)

NameError: name 'laplacian_matrix' is not defined

In [39]:
degs_path = '/home/mar/Documents/TFM/GitHub/HB_PublicData/2-HB-DEGs-on-Liver-Communities/3_HB_DEG_in_liver_clusters/HB_db_DEG.csv'
degs = pd.read_csv(degs_path, index_col=0)
degs_names = degs.index.tolist()
len(degs_names)

227

In [42]:
mat_path = '/home/mar/Documents/TFM/GitHub/HB_PublicData/2-HB-DEGs-on-Liver-Communities/1_LiverNetworks/Network_EDA/PTmatrix_liver.txt'
mat = pd.read_csv(mat_path, index_col=0)
mat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1600 entries, CNBP to NASP
Columns: 1600 entries, CNBP to NASP
dtypes: float64(1600)
memory usage: 19.5+ MB

In [43]:
mat_degs = mat.filter(degs_names)
mat_degs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1600 entries, CNBP to NASP
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SH2B1     1600 non-null   float64
 1   AACS      1600 non-null   float64
 2   VPS33A    1600 non-null   float64
 3   MAPK3     1600 non-null   float64
 4   CEP250    1600 non-null   float64
 5   HS6ST1    1600 non-null   float64
 6   ARHGEF28  1600 non-null   float64
 7   AP1G2     1600 non-null   float64
 8   SRC       1600 non-null   float64
 9   DVL2      1600 non-null   float64
 10  GNG4      1600 non-null   float64
 11  SLC7A6    1600 non-null   float64
 12  ITGA6     1600 non-null   float64
dtypes: float64(13)
memory usage: 175.0+ KB

In [48]:
mat_degs = mat_degs[mat_degs.index.isin(degs_names)]
mat_degs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13 entries, DVL2 to ARHGEF28
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SH2B1     13 non-null     float64
 1   AACS      13 non-null     float64
 2   VPS33A    13 non-null     float64
 3   MAPK3     13 non-null     float64
 4   CEP250    13 non-null     float64
 5   HS6ST1    13 non-null     float64
 6   ARHGEF28  13 non-null     float64
 7   AP1G2     13 non-null     float64
 8   SRC       13 non-null     float64
 9   DVL2      13 non-null     float64
 10  GNG4      13 non-null     float64
 11  SLC7A6    13 non-null     float64
 12  ITGA6     13 non-null     float64
dtypes: float64(13)
memory usage: 1.4+ KB

In [49]:
mat_degs

,SH2B1,AACS,VPS33A,MAPK3,CEP250,HS6ST1,ARHGEF28,AP1G2,SRC,DVL2,GNG4,SLC7A6,ITGA6
DVL2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.798572,0.000000,0.000000,0.000000
MAPK3,0.000000,0.000000,0.000000,0.798572,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
AP1G2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.798572,0.000000,0.000000,0.000000,0.000000,0.000000
CEP250,0.000000,0.000000,0.000000,0.000000,0.798572,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
SLC7A6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.798572,0.000000
HS6ST1,0.000000,0.000000,0.000000,0.000000,0.000000,0.798572,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
SRC,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.798572,0.000000,0.000000,0.000000,0.000000
ITGA6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.798572
GNG4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.798572,0.000000,0.000000
SH2B1,0.798572,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
AACS,0.000000,0.798572,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
VPS33A,0.000000,0.000000,0.798572,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ARHGEF28,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.798572,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [37]:
mat[[c for c in mat.columns if c in degs_names]]
mat[[c for c in mat.index if c in degs_names]]

,DVL2,MAPK3,AP1G2,CEP250,SLC7A6,HS6ST1,SRC,ITGA6,GNG4,SH2B1,AACS,VPS33A,ARHGEF28
CNBP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
HNRNPAB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TRIAP1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BAG3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ATXN3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
RNF111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TUBA1B,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PPP3CA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
REX1BD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NASP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0